    @font-face {
        font-family: "Geist Mono";
        src: url("/fonts/GeistMono-Regular.ttf");
    }

    .table-view .table-cell {
        -fx-font-family: "Inter";
        -fx-font-size: 18px;
    }

    .table-view .column-header .label {
        -fx-font-family: "Inter";
        -fx-font-weight: bold;
        -fx-font-size: 20px;
    }